<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="CSDLPT_QuanLyBanHang.Properties.Settings.QLBHConnectionString"
            connectionString="Data Source=DESKTOP-KKGPLKT;Initial Catalog=QLBH;User ID=sa"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>